#container {
  text-align: center;

  position: absolute;
  left: 25%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
.lists {
  // border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}
ion-item {
  padding: 10px 0;
}

#container a {
  text-decoration: none;
}